// color
$white-color: #FFFFFF;

// size


// button
$primary-color: #1890ff;
$primary-color-hover: #40a9ff;
$text-color: rgba(0,0,0,.85);
$text-background: rgba(0,0,0,.02);
$danger-color: #ff4d4f;
$danger-color-hover: #ff7875;
$disabled-color: rgba(0,0,0,.25);
$disabled-background: #f5f5f5;
$disabled-border: #d9d9d9;
