@import "../../styles/var";

@mixin button-theme($color, $background, $border: null) {
  color: $color;
  background-color: $background;
  @if ($border != null) {
    border-color: $border;
  } @else {
    border-color: $background;
  }
}

@mixin button-size($fontSize, $padding, $height) {
  font-size: $fontSize;
  padding: $padding;
  height: $height;
}

.ca-button {
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: rgba(0,0,0,.85);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5715;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  @include button-size(14px, 4px 15px, 32px);

  &.block {
    width: 100%;
  }

  // 如果是幽灵按钮
  &.ghost {
    background: 0 !important;
    @include button-theme($white-color, 0, $white-color);

    &:hover,
    &:focus {
      @include button-theme($primary-color-hover, $primary-color-hover, $primary-color-hover);
    }
  }

  // 危险按钮
  &.danger {
    @include button-theme($danger-color, $white-color, $danger-color);

    &:hover,
    &:focus {
      @include button-theme($danger-color-hover, $white-color, $danger-color-hover);
    }
  }

  // 禁用
  &.disabled {
    cursor: not-allowed;
    @include button-theme($disabled-color, $disabled-background, $disabled-border);

    &:hover,
    &:focus {
      @include button-theme($disabled-color, $disabled-background, $disabled-border);
    }
  }

  &:hover,
  &:focus {
    @include button-theme($primary-color-hover, $white-color, $primary-color-hover);
  }

  // 主要按钮
  &.primary {
    @include button-theme($white-color, $primary-color, $primary-color);

    &.ghost {
      background: 0 !important;
      @include button-theme($primary-color, 0, $primary-color);

      &:hover,
      &:focus {
        @include button-theme($primary-color-hover, $primary-color-hover, $primary-color-hover);
      }
    }

    &.danger {
      @include button-theme($white-color, $danger-color, $danger-color);

      &:hover,
      &:focus {
        @include button-theme($white-color, $danger-color-hover, $danger-color-hover);
      }
    }

    &.disabled {
      cursor: not-allowed;
      @include button-theme($disabled-color, $disabled-background, $disabled-border);
  
      &:hover,
      &:focus {
        @include button-theme($disabled-color, $disabled-background, $disabled-border);
      }
    }

    &:hover,
    &:focus {
      @include button-theme($white-color, $primary-color-hover, $primary-color-hover);
    }
  }

  // 虚线按钮
  &.dashed {
    border-style: dashed;

    &.ghost {
      background: 0 !important;
      @include button-theme($white-color, 0, $white-color);
  
      &:hover,
      &:focus {
        @include button-theme($primary-color-hover, $primary-color-hover, $primary-color-hover);
      }
    }

    &.danger {
      @include button-theme($danger-color, $white-color, $danger-color);

      &:hover,
      &:focus {
        @include button-theme($danger-color-hover, $white-color, $danger-color-hover);
      }
    }

    &.disabled {
      cursor: not-allowed;
      @include button-theme($disabled-color, $disabled-background, $disabled-border);
  
      &:hover,
      &:focus {
        @include button-theme($disabled-color, $disabled-background, $disabled-border);
      }
    }

    &:hover,
    &:focus {
      @include button-theme($primary-color-hover, $white-color, $primary-color-hover);
    }
  }

  // 文字按钮
  &.text {
    box-shadow: none;
    @include button-theme($text-color, 0, transparent);

    &.danger {
      @include button-theme($danger-color, 0, transparent);

      &:hover,
      &:focus {
        @include button-theme($danger-color-hover, $text-background, transparent);
      }
    }

    &.disabled {
      cursor: not-allowed;
      background: 0 !important;
      @include button-theme($disabled-color, 0, transparent);
  
      &:hover,
      &:focus {
        @include button-theme($disabled-color, 0, transparent);
      }
    }

    &:hover,
    &:focus {
      @include button-theme($text-color, $text-background, transparent);
    }
  }

  // 链接按钮
  &.link {
    box-shadow: none;
    @include button-theme($primary-color, 0, transparent);

    &.danger {
      @include button-theme($danger-color, 0, transparent);

      &:hover,
      &:focus {
        @include button-theme($danger-color-hover, 0, transparent);
      }
    }

    &.disabled {
      cursor: not-allowed;
      background: 0 !important;
      @include button-theme($disabled-color, 0, transparent);
  
      &:hover,
      &:focus {
        @include button-theme($disabled-color, 0, transparent);
      }
    }

    &:hover,
    &:focus {
      @include button-theme($primary-color-hover, 0, transparent);
    }
  }

  // 加载中
  &.loading {
    position: relative;
    pointer-events: none;
  }
  [class*=ca-icon-]+span {
    margin-left: 5px;
  }
  
  // icon在文字右侧时添加
  .ca-button-iconRight {
    margin-left: 5px;
  }

  // 有icon但是没文字时
  &.ca-button-icon {
    padding: 2.4px 0;
    width: 32px;

    &.large {
      padding: 5px 0;
      width: 40px;
    }

    &.small {
      padding: 0;
      width: 24px;
    }
  }

  /**
  * 按钮大小
  */
  &.large {
    @include button-size(16px, 6.4px 15px, 40px)
  }

  // 小型
  &.small {
    @include button-size(14px, 0 7px, 24px)
  }

  // 是否为圆角
  &.round {
    border-radius: 24px;
  }

}
